<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login-style.css">
</head>
<body>
    <form action='/login' method="POST" class="login">
        <h2>INICIO SESIÓN</h2>

        <div class="info">
            <input type="text" name='usuario' id="usuario" required>
            <label for="usuario">nombre de usuario</label>
        </div>

        <div class="info">
            <input type="password" name='password' id="password" required>
            <label for="password">Contraseña</label>
        </div>

        <button type="submit">INICIAR SESIÓN</button>

        <p>¿No tienes una cuenta?...<a href="/registro">Registrate</a></p>

    </form>
</body>
</html>